<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/image/logo-ufmg.png" >
    <link rel="stylesheet" href="../static/CSS/style_navbar.css">
    <link rel="stylesheet" href="../static/CSS/globais.css">
    <link rel="stylesheet" href="../static/CSS/style_index.css">
    <title>Formula</title>
</head>
<body>
    <header>
        <nav>
            <a href="logo" href="/" ><img src="../static/image/logo.png" alt=""></a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Projetos</a></li>
                <li><a href="/">Bibliografia</a></li>
                <li><a href="/">Cursos</a></li>
                <li><a href="/">Membros</a></li>
                <li><a href="/">Cronograma</a></li>
                <li><a href="/">Contato</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="for_up">
            <button>up</button>
        </div>
        <div class="Inicio">
            <img src="../static/image/fundo-inicio.jpg" alt="">
        </div>
        <div class="Sobre">
            <div class="container"></div>
        </div>
        <div class="Projetos">
        </div>
        <div class="Bibliografia">
        </div>
        <div class="Cursos">
        </div>
        <div class="Membros">
        </div>
        <div class="Cronograma">
        </div>
        <div class="Contato">
        </div>
    </main>

    <script src="../static/js/mobile-navbar.js"></script>
</body>
</html>