<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/cadrastroLogin.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Login</h1>
            <div class="label-float">
                <input type="text" id="usuario" placeholder=" ">
                <label for="usuario">Usuario</label>
            </div>
            <div class="label-float">
                <input type="password" id="senha" placeholder=" ">
                <label for="senha">Senha</label>
            </div>
            <div class="justifile-center">
                <button>Login</button>
            </div>
            <div class="justifile-center">
                <hr>
            </div>
            <p>Não tem uma conta?
                <a href="">cadastre-se</a>
            </p>
        </div>
    </div>
</body>
</html>